@font-face{
    font-family: absan;
    src: '../fonts/Abasan.ttf';
}
@font-face{
    font-family: hamid;
    src: '../fonts/Hamid.ttf';
}
@font-face{
    font-family: hayat;
    src: '../fonts/Hayat.ttf';
}
@font-face{
    font-family: irensans;
    src: '../fonts/Irensans.ttf';
}
@font-face{
    font-family: kaman;
    src: '../fonts/Kaman.ttf';
}
@font-face{
    font-family: vazir;
    src: '../fonts/Vazir.ttf';
}
@font-face{
    font-family: yekan;
    src: '../fonts/Yekan.ttf';
}